*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background: rgb(63,94,251);
    background: 
    radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
header{
    background-color: rgb(49, 49, 49);
    color: rgb(245, 245, 88);
    font-size: 48px;
    text-align: center;
    align-self: stretch;
}

#container{
    width: 800px;
    height: 600px;
    background-color: rgb(158, 0, 0);
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
}

#painting-space{
    width: 500px;
    height: 500px;
    background-color: white;  
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}

.painting-sector{
    flex-shrink: 0;
}

#settings-panel{
    width: 200px;
    background-color: rgb(158, 0, 0);
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: stretch;
    flex-direction: column;
}

.setting-string p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.setting-string{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
}

#color{
    width: 90px;
    height: 30px;
}

#eraser,
#rainbow{
    width: 65px;
    height: 30px;
}

#rainbow{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%,
     rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#reset{
    padding: 15px;
    font-size: 30px;
    color: white;
    background-color:rgb(74, 3, 3);
    border: solid;
    border-color:rgb(45, 2, 2);
}